@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
* {
  user-select: none;
}
$ship-border-color: brown;

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}
.container {
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // position: relative;

  .buttons {
    align-items: center;
    padding-top: 20px;
    display: flex;
    column-gap: 20px;
    width: 100%;
    justify-content: center;

    button {
      font-family: 'Open Sans', sans-serif;

      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000;
      cursor: pointer;
      border: 3px solid;
      padding: 0.25em 0.5em;
      box-shadow:
        1px 1px 0px 0px,
        2px 2px 0px 0px,
        3px 3px 0px 0px,
        4px 4px 0px 0px,
        5px 5px 0px 0px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      &:active {
        position: relative;
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
        background-color: red;
      }

      &:hover {
        background-color: #e1b768;
      }
    }
  }
}

.board-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-content: start;
  row-gap: 10px;
  column-gap: 100px;

  .status {
    font-family: 'Open Sans', sans-serif;

    grid-column: 1 / span 2;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
  }

  .player1 {
    &.active {
      border: 3px solid rgba(32, 6, 6, 0.443);
    }
    &:not(.active) {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .player2 {
    &.active {
      border: 3px solid rgba(32, 6, 6, 0.443);
    }
    &:not(.active) {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .player1,
  .player2 {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(11, 30px);
    grid-template-rows: repeat(11, 30px);
    &.active {
      .cell:hover {
        background-color: #7a7870;
      }
    }

    .corner {
      color: rgba(0, 0, 0, 0.578);
      font-size: 12px;

      &.left {
        font-size: 11px;
      }
    }

    &.disabled {
      pointer-events: none;
    }

    .missed {
      width: 50%;
      height: 50%;
      border-radius: 100%;
      border-width: 0;
      background-color: #919493;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      border: 1px solid black;
    }

    &.hidden {
      div.cell {
        .ship {
          &.ship.hide {
            border: none;

            .hitmark {
              opacity: 0;
            }

            &:has(.hitmark.hit) {
              .hitmark.hit {
                opacity: 1;
              }
            }
          }
        }

        &:has(.ship) {
          border: 1px solid #f5f5f5;
        }

        &:has(.show) {
          border: none;
        }
      }
    }
    //boxes
    div {
      border: 1px solid #f5f5f5;
      background-color: #dbdada;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;

      &.previewCell {
        background-color: rgba(0, 0, 0, 0.48);
      }

      &:has(.show, .ship) {
        border: none;
      }

      .ship {
        height: 100%;
        width: 100%;
        border-radius: initial;
        background-color: transparent;
        border: 1px solid $ship-border-color;

        &.tailHorizontal {
          border-right: none;
          border-radius: 8px 0 0 8px;
        }

        &.horizontalMiddle {
          border-left: none;
          border-right: none;
        }

        &.headHorizontal {
          border-left: none;
          border-radius: 0px 20px 20px 0;
        }

        &.tailVertical {
          border-radius: 20px 20px 0 0;
          border-bottom: none;
        }

        &.verticalMiddle {
          border-top: none;
          border-bottom: none;
        }

        &.headVertical {
          border-radius: 0 0 8px 8px;
          border-top: none;
        }

        .hitmark {
          background-color: #bdbfca;
          border-radius: 20px;
          height: 50%;
          width: 50%;
          border: 1px solid black;

          &.hit {
            opacity: 1;
            background-color: #d3af37;
            height: 50%;
            width: 50%;
            border: 1px solid black;
          }
        }
      }

      .damaged {
        width: 50%;
        height: 50%;
        border-radius: 100%;
        border-width: 0;
        background-color: #d3af37;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        border: 1px solid black;
      }
    }
  }
}

.shipContainer {
  grid-column: 1 / span 1;
}

.yard {
  grid-column: 2 / span 1;
}

.shipContainer,
.yard {
  display: flex;
  flex-wrap: wrap;
  width: calc(30px * 10);
  justify-content: center;
  width: calc((30px * 11) + 20px);
  column-gap: 20px;

  .shipWrapper {
    text-align: center;
    font-size: smaller;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
  }

  .ship {
    height: 30px;
    border: 1px solid;
    border-radius: 10px 20px 20px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

    &.vertical {
      flex-direction: column;
      border-radius: 20px 20px 10px 10px;
    }

    &.placed {
      opacity: 0.6;
      background-color: #807e7a;
    }

    //dots
    div {
      border-radius: 20px;
      height: 15px;
      width: 15px;
      background-color: #bdbfca;
      border: 1px solid black;

      &.hit {
        background-color: #d3af37;
        border: 1px solid black;
        opacity: initial;
      }
    }

    &.draggableOff {
      cursor: default;
      -webkit-user-drag: none;
      user-select: none;
    }
  }

  .carrier {
    width: calc(30px * 5);
  }

  .battleship {
    width: calc(30px * 4);
  }

  .destroyer {
    width: calc(30px * 3);
  }

  .submarine {
    width: calc(30px * 3);
  }

  .patrolBoat {
    width: calc(30px * 2);
  }

  .title {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    padding-bottom: 10px;
  }

  &:not(.active) {
    pointer-events: none;
    opacity: 0.5;
  }

  .containShip {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    row-gap: 20px;
  }

  .enemyShips {
    font-family: 'Jura', sans-serif;
    text-align: center;
    flex: 0 0 28.333%;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    text-transform: uppercase;

    &.sunked {
      color: #d3af37;
      text-decoration: line-through;
    }
  }

  &.isCom {
    position: relative;

    .enemyShips {
      margin-top: -35px;

      &:nth-child(4),
      &:nth-child(5) {
        margin-top: -25px;
      }
    }
  }
}

//the clone
body > .ship {
  position: absolute;
  top: -9999px;
  left: -9999px;
  pointer-events: none;

  height: 30px;
  border: 1px solid;
  border-radius: 10px 20px 20px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

  &.vertical {
    flex-direction: column;
    border-radius: 20px 20px 10px 10px;
  }

  &.placed {
    opacity: 0.6;
    background-color: #807e7a;
  }

  //dots
  div {
    border-radius: 20px;
    height: 15px;
    width: 15px;
    background-color: #bdbfca;
    border: 1px solid black;

    &.hit {
      background-color: #d3af37;
      border: 1px solid black;
      opacity: initial;
    }
  }

  &.draggableOff {
    cursor: default;
    -webkit-user-drag: none;
    user-select: none;
  }

  &.carrier {
    width: calc(30px * 5);
    &.vertical {
      width: calc(30px);
      height: calc(30px * 5);
    }
  }

  &.battleship {
    width: calc(30px * 4);
    &.vertical {
      width: calc(30px);
      height: calc(30px * 4);
    }
  }

  &.destroyer {
    width: calc(30px * 3);
    &.vertical {
      width: calc(30px);
      height: calc(30px * 3);
    }
  }

  &.submarine {
    width: calc(30px * 3);
    &.vertical {
      width: calc(30px);
      height: calc(30px * 3);
    }
  }

  &.patrol {
    width: calc(30px * 2);
    &.vertical {
      width: calc(30px);
      height: calc(30px * 2);
    }
  }
}
