body {
  display: flex;
  justify-content: center;
}
.container {
  min-height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}

.board-wrapper {
  display: flex;
  gap: 10px;
  .player1,
  .player2 {
    // border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);

    div {
      border: 1px solid black;
      cursor: pointer;
    }
  }
}
